@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 56px;
  font-weight: 900;
  line-height: 1.05;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -0.3px;
}

body {
  font-family: var(--font);
  font-weight: 400;
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
